<section>
    <div class="row">
        <div class="col-md-6 m-auto">
    <div class="conatainer mt-5 pl-5" >
        <form action="/admin/admin-signup" method="POST" >
  <div class="form-group">
    <label for="exampleInputEmail1">Your Name</label>
    <input type="text"  name="name" class="form-control" id="exampleInputname" aria-describedby="emailHelp" placeholder="Enter name">
    
  </div>
    <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" name = "email"class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" name="text" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  
  <a href="/login">Alredy have a account?</a>
  <button type="submit" class="btn btn-primary float-right">signup</button>
</form>
</div>
    </div>
    </div>
</section>