<section>
    <div class="row">
        <div class="col-md-6 m-auto">
    <div class="conatainer mt-5 pl-5" >
      <hr>
      <p>custmer name:</p>
      <p>address:</p>
      <p>purchased products:</p>
      <hr>
        </div>
        </div>
        </div>
</section>